@charset: "utf-8";
body {
	font-family: "YuGothic", "遊ゴシック";
}

.wrap {
	background: url("../img/logo.jpg") no-repeat center;
	background-size: cover;
	height: 900px;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	color: rgb(255, 255, 255);
	padding-top: 420px;
	text-align: center;
}

.contents {
	padding-top: 80px;
	width: 80%;
	margin: 0 auto;
}

.text {
	text-align: center;
	font-size: 32px;
	line-height: 1.5;
	font-weight: bold;
}

.copy {
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
	font-size: 42px;
	line-height: 1.5;
	font-weight: bold;
}

.text2 {
	padding-top: 400px;
	text-align: center;
	font-size: 28px;
	line-height: 1.5;
	font-weight: bold;
	color: white;
}

.footer {
	background: url("../img/homo.jpg") no-repeat center;
	background-size: cover;
	height: 900px;
}

.recruit {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 30px;
}