@charset: "utf-8";
body {
	font-family: "YuGothic", "遊ゴシック";
	display: none;
}

.header {
	overflow: hidden;
	height: 600px;
	position: relative;
}

.header video {
	position: absolute;
	top: 0;
	left: 0;
}

.header h1 {
	position: absolute;
	width: 100%;
	height: 600px;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	font-size: 40px;
	color: rgb(255, 255, 255);
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	text-indent: -999em;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.2) url(../img/logo.svg) no-repeat 50% 50%;
	background-size: contain;
}

.contents {
	padding-top: 80px;
	width: 80%;
	margin: 0 auto;
}

.text {
	text-align: center;
	font-size: 32px;
	line-height: 1.5;
}

.copy {
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
	font-size: 60px;
	line-height: 1.5;
	font-weight: bold;
}

.text2 {
	padding-top: 400px;
	text-align: center;
	font-size: 28px;
	line-height: 1.5;
	color: white;
}

.footer {
	background: url("../img/homo.jpg") no-repeat center;
	background-size: cover;
	height: 900px;
}

.recruit {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 30px;
}